<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/buble.css">
</head>
<body>


    <header>
        <h4>Buble Song Funny Efects</h4>
    </header>

    <div class="introduction">

        <p>Click color Pads and listen funny audio and show flying popus</p>

    </div>

    <!--popus part colorfull pads-->


   

    <div class="visual"></div>
    <div class="paids">
        
      
        <div class="pad">
            <audio src="/sounds/sound1.mp3" class="sound"></audio>
         
        </div>

        
        <div class="pad">
            <audio src="/sounds/sound2.wav.wav"  class="sound"></audio>
            
        </div>

        
        <div class="pad">
            <audio src="/sounds/sound3.wav.wav"  class="sound"></audio>

        </div>

        
        <div class="pad">
            <audio src="/sounds/sound4.wav.wav"  class="sound"></audio>
            
        </div>

        
        <div class="pad">
            <audio src="/sounds/sound5.wav.wav"  class="sound"></audio>
         
        </div>
        
        <div class="pad">
            <audio src="/sounds/sound6.wav.wav" class="sound"></audio>
           
        </div>
       
    
    </div>





    <!-- // link to js file //-->

    <script src="/js/buble.js"></script>
    
</body>
</html>